.section--about-me {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: $color-font;
    margin-bottom: 40px;
}

.button-about-me {
    display: grid;
    align-items: end;
    justify-content: end;
}

.photo-about-me {
    display: grid;
    align-items: center;
    justify-content: start;
}